h1, h2, h4 {
  color: #767D92;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  color: #767D92;
  border-bottom: 3px solid black;
}


p {
  color: #767D92;
  text-indent: 2.0em;
}

.sofsat {
  font-weight: bold;
}

.op {
  font-style: italic;
}

.button {
  padding: 10px;
}

img.logo {
  max-width: 100%;
  max-height: 75px;
}

img.content {
  max-width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.profile {
  max-width:85%;
}

label, div {
  color: #506680;
}

label {
  font-size: 20px;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  background-color: lightgrey;
  font-size: 14px;
}

th {
  background-color: darkgrey;
}

body {
  background-color: lightgrey;
  padding: 30px;
}

.scroll {
    max-height: 325px;
    overflow-y: auto;
}

.cite {
  overflow-x: auto;
}

.debug {
  border: solid black 1px;
}

.double {
  margin-left: -1px;
}
