<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>SOFSAT</title>
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{ url_for('demo') }}">SOFSAT Demo<span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<h1>TextIntersect (<span class="bigger_intersect_title">&#8745;</span><sub>T</sub>)</h1>

	<div class="row">
  <div class="col-sm-6 pr-5">
		<label for="left_story" class="left_label bigger">Left Wing</label>
    <div class="card scroll_dif" id="left_story">
      <div class="card-body">
        <h4 class="card-title">
					{% for word in left_head %}
						<span>{{word}}</span>
					{% endfor %}
				</h4>
					{% for para in left_body %}
						<p class="card-text">
						{% for word in para %}
							<span>{{word}}</span>
						{% endfor %}
					</p>
					{% endfor %}
      </div>
    </div>
  </div>
  <div class="col-sm-6 pl-5">
		<div class="right_align"><label for="right_story" class="right_label bigger">Right Wing</label></div>
    <div class="card scroll_dif" id="right_story">
    	<div class="card-body">
      	<h4 class="card-title">
					{% for word in right_head %}
						<span>{{word}}</span>
					{% endfor %}
				</h4>
				{% for para in right_body %}
					<p class="card-text">
					{% for word in para %}
						<span>{{word}}</span>
					{% endfor %}
				</p>
				{% endfor %}
    	</div>
    </div>
  </div>
	</div>

	<div class="row pt-5">
		<label class="middle_label col-md-3 bigger">Evaluation</label>
		<div class="col-md-9 middle_align">
			<label class="middle_label bigger">Left <span class="bigger_intersect">&#8745;</span><sub>T</sub> Right</label>
		</div>
	</div>


	<div class="row">
    <table class="table-sm table-bordered col-md-3">
		<thead>
    <tr>
      <th></th>
      <th>Precision</th>
      <th>Recall</th>
			<th>F1</th>
    </tr>
		</thread>
    <tr>
      <td>ROUGE-1</td>
      <td>{{ scoreTable[0][1] }}</td>
      <td>{{ scoreTable[0][2] }}</td>
			<td>{{ scoreTable[0][3] }}</td>
    </tr>
    <tr>
      <td>ROUGE-2</td>
      <td>{{ scoreTable[1][1] }}</td>
      <td>{{ scoreTable[1][2] }}</td>
			<td>{{ scoreTable[1][3] }}</td>
    </tr>
<!--     <tr>
      <td>ROUGE-3</td>
      <td>{{ scoreTable[2][1] }}</td>
      <td>{{ scoreTable[2][2] }}</td>
			<td>{{ scoreTable[2][3] }}</td>
    </tr> -->
		<tr>
      <td>ROUGE-L</td>
      <td>{{ scoreTable[3][1] }}</td>
      <td>{{ scoreTable[3][2] }}</td>
			<td>{{ scoreTable[3][3] }}</td>
    </tr>
  </table>
	<div class="col-md-9 pr-5">
		<div class="card scroll" id="intersect">
      <div class="card-body">
					{% for para in result %}
						<p class="card-text">
						{% for word in para %}
							<span>{{word}}</span>
						{% endfor %}
					</p>
					{% endfor %}
      </div>
    </div>
  </div>
</div>

	<script>
		{% for word in target_left %}
			$( "span:contains({{word}})" ).css( "color", "blue" );
		{% endfor %}
		{% for word in target_right %}
			$( "span:contains({{word}})" ).css( "color", "#cc1100" );
		{% endfor %}
		{% for word in target_middle %}
			$( "span:contains({{word}})" ).css( "color", "darkgreen" );
		{% endfor %}
	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
