<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SOFSAT</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static',    filename='css/styles.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{ url_for('load') }}">SOFSAT Demo<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="{{ url_for('about') }}">People</a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<div class="row">
		<div class="col-md-3">
			<div class="left_label bigger_wings">Left Wing</div>
		</div>
		<div class="col-md-6">
			<h1>Sample</h1>
		</div>
		<div class="col-md-3">
			<h2><div class="right_align bigger_wings"><span class="right_label">Right Wing</span></div></h2>		</div>
	</div>
    <form action="{{ url_for('retrieve') }}" method="post">
		<div align="center">
      	No.
        <input name="sample_num" type="number" value="{{ sample_num }}" min="1" max="425" required readonly>
    </div>
		<div class="form-row">
      <div class="form-group col-lg-6 pr-5">
			   <label for="exampleFormControlTextarea1"><span class="left_label bigger_labels">Headline</span></label>
			   <textarea required class="form-control" id="exampleFormControlTextarea1" name="left_head" rows="1" placeholder="Left headline..." readonly>{{ left_head }}</textarea>
		  </div>
      <div class="form-group col-lg-6 pl-5">
			   <label for="exampleFormControlTextarea1"><span class="right_label bigger_labels">Headline</span></label>
			   <textarea required class="form-control" id="exampleFormControlTextarea1" name="right_head" rows="1" placeholder="Right headline..." readonly>{{ right_head }}</textarea>
		  </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-6 pr-5">
			   <label for="exampleFormControlTextarea1"><span class="left_label bigger_labels">Description</span></label>
			   <textarea required class="form-control" id="exampleFormControlTextarea1" name="left_body" rows="5" placeholder="Left body..." readonly>{{ left_body }}</textarea>
		  </div>
      <div class="form-group col-lg-6 pl-5">
			   <label for="exampleFormControlTextarea1"><span class="right_label bigger_labels">Description</span></label>
			   <textarea required class="form-control" id="exampleFormControlTextarea1" name="right_body" rows="5" placeholder="Right body..." readonly>{{ right_body }}</textarea>
		  </div>
    </div>

    <div align="center">
         
        <div class="form-group col-md-3">
                        <label for="model"><h2>Model</h2></label>
                        <form id="form1" action="/loaded" method="GET" enctype="multipart/form-data">
                        <select name="model" id="model" class="form-control">
                            <option selected>Query-based</option>
                            <option>BERT-base</option>
                            <option>Mobile-BERT</option>
                            <option>DistilBERT</option>
                            <option>RoBERTa</option>
                            <option>XLNet</option>
                            <option>GPT2</option>
                        </select>
        </div>


        <div align="center">
            <button class="btn btn-primary mt-2">TextIntersect</button>
        </div>
        </form>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
